* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: rgb(248, 247, 243);
}

.Header {
  background-color: #313a4b;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  color: white;
}

.Header-Link {
  color: #eee;
  margin: 15px 0;
}

.Flex {
  display: flex;
}